@font-face {
    font-family: 'FredokaOne';
    src: url("font/Fredoka_One/FredokaOne-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'HindMadurai';
    src: url("font/Hind_Madurai/HindMadurai-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url("font/Roboto/Roboto-Regular.ttf") format('truetype');
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container{
    width: 1120px;
    margin: 0 auto;
}
header{
    background-color: #FBF1F4;
    padding: 10px 0 30px 0;
}
header .menyu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
header ul{
    display: flex;
    padding: 0;
    
}
header ul li{
    list-style: none;
    margin-left: 40px;
}
header ul li a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.4s linear;
}
header ul li a:hover{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
color: #D23166;
}
.all-btn{
width: 165px;
height: 49px;
background-color: #D23166;
border-radius: 5px;
border: none;
font-family: 'Hind Madurai', sans-serif;
/* font-style: normal;
font-weight: bold; */
font-size: 16px;
line-height: 22px;
color: #FAFAFA;
cursor: pointer;
}
header .main-section{
    display: flex;
    width: 100%;
    padding-top: 52px;
}
header .left-side{
    padding-top: 149px;
    width: 60%;
}
header .left-side .title{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1em;
color: #0F0101;
}
header .left-side .main-text{
    font-style: normal;
font-weight: normal;
font-size: 57.33px;
line-height: 120.5%;
color: #0F0101;
margin-top: 6px;
font-family: 'FredokaOne', sans-serif;
}
header .left-side .main-text span{
    color: #D23166;
}
header .left-side .coment{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #0F0101;
opacity: 0.6;
font-family: 'HindMadurai', sans-serif;
margin-top: 35px;
padding-right: 112px;
}
header .left-side .all-btn{
    margin-top: 50px;
}
header .main-section .right-side{
    width: 40%;  
}
header .main-section .right-side img{
    width: 100%;
}

.section-one{
    padding: 100px 0 110px 0;
    background-color: white;
}
.section-one .d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.section-one .d-flex .card{
    width: 250px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    border-radius: 7px;
    transition: 0.4s linear;
    padding: 35px 26px 27px 26px;
    text-align: center;
    
}
.section-one .d-flex .card:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border: none;
    /* border-radius: 7px; */
}
.section-one .card .car-title{
    margin-top: 25px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    font-family: 'HindMadurai' sans-serif;
}
.section-one .card .card-coment{
    font-family: 'Hind Madurai' sans-serif;
    font-style: normal;
  font-weight: normal;
    font-size: 14px;
line-height: 19px;
text-align: center;
color: #000000;
opacity: 0.6;
}
.section-two{
    padding: 47px 0 33px 0;
    background: #F8EDF0;
}

.section-two .d-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.section-two .d-flex .left-side{
    width: 100%;
    padding-top: 142px;
    /* width: 442px;
    height: 256.71px; */
}
.section-two .d-flex .left-side .title{
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    font-family: 'Hind Madurai', sans-serif;
}
.section-two .left-side .commit{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin-top: 16px;
    margin-bottom: 35px;

}
.section-two .right-side{
    width: 50%;
    padding-top: 93px;
     
}
.section-two .right-side img{
    width: 100%;
    padding-top: 50px;
}
.section-three{
    padding-top: 137px;
    padding-bottom: 149px;
    background-color: white; 
}
.section-three-title{
    font-style: normal;
font-weight: 600;
font-size: 44.2px;
line-height: 61px;
font-family: 'HindMadurai', sans-serif;
color: #150101;
text-align: center;
}
.section-three .main-menu{
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
}
.section-three .main-menu li{
    list-style: none;
    padding-bottom: 10px;
}
.section-three .main-menu li a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    transition: 0.5s linear;
    text-decoration: none;
}
.section-three .main-menu li a:hover{
  color:black;
  opacity: 1; 
}
.section-three .main-menu li::after{
  content: ' ';
  display: block;
  width: 0;
  height: 3px;
  background-color: #D64374;
  transition: 0.5s linear;
}
.section-three .main-menu li:hover:after{
    content: ' ';
    width: 100%; 
  }
  .section-three .brown-bread{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 50px;
  }
  .section-three .brown-bread .left-side{
    width: 50%;
}
.section-three .brown-bread .right-side{
    padding-top: 60px;
}
.section-three .brown-bread .right-side{
    margin-left: 85px;
}
.section-three .right-side .title{
    font-family: 'Hind Madurai', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 36px;
color: #000000;
}
.section-three .right-side .commit{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
/* opacity: 0.7; */
/* padding-top: 16px; */
margin: 11px 0 28px 0;
}
.section-three .right-side .price{
    font-family: 'HindMadurai', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-left: 5px;
    margin-bottom: 16px;
}
.section-three.price del{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
text-decoration-line: line-through;
color: #000000;
opacity: 0.7;
}
.section-three .cayenne-chocolate .right-side, .section-three .person-commit .right-side{
    margin-left: 0;
}
.section-three .person-commit .right-side .person{
    display: flex;
}
.section-three .person .person-info{
    margin-left: 21px;
}
.section-three .person .person-info .name{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
margin-bottom: 5px;
color: #000000;
}
.section-three .person .person-info .country{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}
.section-three .person-commit .text{
    margin-top: 46px;
    margin-bottom: 56px;
    display: flex;
}
.section-three .text div:nth-child(2){
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
opacity: 0.7;
margin-left: 12px;
}
.section-three .right-side .carousel{
    display: flex;
    align-items: center;
}
.section-three .right-side .carousel .gallery{
    margin: 0 20px;
}
.section-three .right-side .carousel .prev-icon, .section-three .right-side .carousel .next-icon{
   cursor: pointer;
}
.section-three .gallery img{
    width: 40px;
    height: 40px;
}
.section-three .gallery img:nth-child(1){
    border-radius: 30px;
}
.section-three .gallery img:nth-child(3){
    border-radius: 30px;
}
.section-three .big-img img{
    width: 58px;
    height: 58px;
    border: 1px solid #D64374;
    border-radius: 50%;
}
.section-four{
    background-color: #F8EDF0;
}
.section-four .d-flex{
    width: 100%;
    display: flex;
}
.section-four .left-side{
    width: 35%;
}
.section-four .left-side img{
    transform: translateY(42px);
    border-radius: 30px;
}
.section-four .right-side{
    width: 60%;
    padding-top: 90px;
}
.section-four .right-side .title{
    font-style: normal;
font-weight: 500;
font-size: 44.2px;
line-height: 52px;
color: #000000;

}
.section-four .right-side .commit{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.01em;
color: #0F0101;
opacity: 0.7;
margin-top: 20px;
margin-bottom: 15px;
padding-right: 55px;
}
.order{
    margin-bottom: 40px;
}
.order .main{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.order .main div:nth-child(1){
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
.order .main div:nth-child(2){
    font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
color: #000000;
}
.section-five{
    padding: 190px 0 130px 0;
}
.section-five .title{
    font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
text-align: center;

color: #000000;
}
.section-five .d-flex{
    width: 55%;
    display: flex;
    margin: 28px auto 0 auto;
}
.section-five input{
    height: 74px;
    width: 503px;  
background: #FAFAFA;
border-radius: 5px;
border: none;
padding-left: 30px;
}
.section-five input::placeholder{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
}
.section-five .send-btn{
    width: 134px;
    height: 74px;
    background: #D64374;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.5s linear;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #D64374;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1dfe5;
  }
  footer{
      padding: 70px 0 104px 0;
      background-color: #0A0808;
  }
  footer .d-flex{
      display: flex;
      width: 100%;
  }
  footer .first-col{
      width: 207px;  
  }
.first-col .text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 9px;
    margin-bottom: 25px;
}
.first-col .follow{
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
margin-bottom: 8px;
}
.first-col .social img{
    margin-right: 10px;
}
.second-col{
    padding-top: 73px;
    margin-left: 37px;
}
.second-col a, .third-col a{
    font-size: 12px;
line-height: 14px;
color: #FFFFFF;
text-decoration: none;
margin-bottom: 10px;
display: block;
transition: 0.5s linear;
}
.second-col a:hover, .third-col a:hover{
    opacity: 1;
}
.third-col{
    padding-top: 80px;
    margin-left: 132px;
}
.four-col{
    padding-top: 86px;
    margin-left: 150px;
}
.four-col .title{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.four-col .search-btn{
    margin-top: 13px;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}
.four-col input{
    height: 55px;
    width: 263px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #D64374;
    box-sizing: border-box;
    /* border-radius: 5px; */
    background-color: transparent;
    padding-left: 32px;
    box-sizing: border-box;
}
.four-col button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #D23166;
    /* border-radius: 3px; */
    width: 125px;
    height: 55px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.four-col img{
    margin-right: 16px;
}